---
import ButtonCTA from "./ButtonCTA.astro"
interface props{
    img:string;
    h3:string;
    alt:string;
}
const {img, alt, h3}=Astro.props;
---
<div>
    <img src={img} alt={alt}>
    <h3>{h3}</h3>
</div>

<style>

    div{
        width: 320px;
        height: 320px;
        background-color: var(--c_enfasis);
        position: relative;
        border-radius: 8px;
        box-shadow: 0 0 5px 0 black;
        transition: all .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        
    }

    div:hover{
        scale: 1.1;
        translate: 0 -10px;
        box-shadow: 0 10px 15px 0 black;
    }

    div:hover>h3{
        opacity: 1;
    }

    img{
        width: 95%;
        position:absolute;
        inset: 0;
        margin: auto;
        border-radius: 8px;
    }

    h3{
        opacity: 0;
        text-align: center;
        padding: 7rem;
        border-radius: 8px;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.774);
        transition: all .3s ease;
    }
</style>