---
import ButtonCTA from "../components/ButtonCTA.astro";
import Logo from "../components/Logo.astro";
---
<header>
    <Logo/>
    <nav>
        <input type="checkbox" class="checker" id="checker">
        <ul class="links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/">Productos</a></li>
            <li><a href="/">Nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>                      
        </ul>
        <ButtonCTA text="¡Cambiaton!" href="/"/>
        <label for="checker">
            <img src="svg/menu.svg" alt="Menú desplegable" class="menu">
        </label>
        
    </nav>
    
</header>

<style>

    header,ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        background-color: var(--c_enfasis);
    }

    .menu{
        cursor: pointer;
        padding: 1rem;
    }

    .checker{
        display: none;
    }

    nav{
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    ul{
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 3rem;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        list-style: none;
        padding: 0;
    }

    a{
        text-decoration: none;
        color:white;
        padding: 5px;
        border-radius: 5px;
        transition: all .3s ease;
        display: inline-block;
        font-size: large;
        font-weight: 500;
    }

    a:hover{
        scale: 1.1;
        background-color: white;
        color: var(--c_enfasis);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.575);
    }

    .checker:checked~.links{
        display: flex;
    }

    @media screen and (min-width:767px) {
        .menu{
            display: none;
        }

        .links{
            display: flex;
        position: static;
        height: auto;
        width: auto;
        flex-direction: row;
        }
    }
</style>